<a href="https://colab.research.google.com/github/park1NG/MLTeamProject/blob/main/airportal/teamproj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
cd /content/drive/MyDrive/"Colab Notebooks"

/content/drive/MyDrive/Colab Notebooks

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df = pd.read_csv('19airportal.csv')
df2 =pd.read_csv('19airportal_origin.csv')
# 연월일을 datetime 형식으로 변환
df['연월일'] = pd.to_datetime(df['연월일'])

# # 요일(feature) 추가
df['요일'] = df['연월일'].dt.day_name()
df

df['도착'] = pd.to_datetime(df['도착'].str.replace(':', ''), format='%H%M', errors='coerce')
df['예상'] = pd.to_datetime(df['예상'].str.replace(':', ''), format='%H%M', errors='coerce')

# 지연 여부(feature) 추가
df['현황'] = (pd.to_datetime(df['도착']) - pd.to_datetime(df['예상'])).dt.total_seconds() / 60 > 15
df['현황'] = df['현황'].map({True: '지연', False: '정상'})

df['도착'] = df2['도착']
df['예상'] = df2['예상']
df
# # 결과 출력
# print(df)

,연월일,항공사,편명,출발지,계획,예상,도착,구분,현황,요일
0,2019-01-01,에티하드,EY873,AUH(아부다비 국제공항),00:15,00:15,00:09,여객,정상,Tuesday
1,2019-01-01,타이에어아시아엑스,XJ703,DMK(돈므앙(방콕)),00:20,00:20,00:27,여객,정상,Tuesday
2,2019-01-01,터키항공,TK91,IST(아타튀르크),00:30,00:30,00:30,여객,정상,Tuesday
3,2019-01-01,카타르항공,QR859,DOH(도하),00:35,00:35,00:35,여객,정상,Tuesday
4,2019-01-01,에티오피안항공,ET673,ADD(아디스아바바),00:45,00:20,00:53,여객,지연,Tuesday
...,...,...,...,...,...,...,...,...,...,...
184512,2019-12-31,티웨이항공,TW157,CXR(깜라인(나트랑)),23:20,23:20,23:36,여객,지연,Tuesday
184513,2019-12-31,필리핀에어아시아,Z25039,CRK(클라크 국제공항),23:25,23:25,23:16,여객,정상,Tuesday
184514,2019-12-31,산동항공,SC4722,TAO(청도),23:50,23:50,23:56,여객,정상,Tuesday
184515,2019-12-31,에미레이트항공,EK323,DXB(두바이),23:50,23:50,23:51,여객,정상,Tuesday
184516,2019-12-31,필리핀에어아시아,Z27047,CEB(세부),23:50,23:50,23:54,여객,정상,Tuesday

In [49]:
df.dtypes

연월일    datetime64[ns]
항공사            object
편명             object
출발지            object
계획             object
예상             object
도착             object
구분             object
현황             object
요일             object
dtype: object

TypeError: ignored